
body,
html{
	width:100%;
	height:100%;
	font-family: 'Satisfy', cursive;
	background: url(flor.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 20rem;
	color: #ee0cb6;
}

hr{
	border-color:#ee0cb6;
	border-width: 3px;
	max-width: 65px; 
}

.buffer{
	height: 12rem;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary{
	background-color: #ee0cb6;
	border-color: #ee0cb6;
}

.btn-primary: hover{
	background-color: #ee0cb6;
	border-color: #ee0cb6;
	border-width: 4px;

}

.btn-xl{
	padding: 5rem 10rem;
	}